{% extends 'base.html' %}
{% block title %}
    Магазин - {{ product.name }}
{% endblock title %}
{% block content %}
    <main role="main">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ product.name }}</h2>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" width="120" alt="{{ product.name }}">
                    {% endif %}
                    <p>{{ product.description }}</p>
                    <form action="{% url 'create_cart' %}?product_id={{ product.id }}&next={{ request.path }}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                    </form>
                </div>
            </div>
            <hr>
            {% for review in reviews %}
                {{ review.rating_view }} <span>{{ review.name }}</span>
                <p>{{ review.content }}</p>
            {% endfor %}
            <hr>
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h4>Оставьте отзыв:</h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label for="content">{{ form.content.label }}</label>
                            {{ form.content }}
                            {{ form.content.errors }}
                        </div>
                        {% for radio in form.rating %}
                            <div class="form-check">
                                {{ radio.tag }}
                                <label class="form-check-label" for="{{ radio.id_for_label }}">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Оставить</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
